.Main {
    width : 100%;
    height : 100%;
    font-family: inherit;
    padding : 1%;
}

.Header {
    width : 100%;
    font-family: inherit;
}

.HeaderTitle {
    width : 100%;
    text-align: center;
    font-size: 1.3rem;
}

.SubmenuCard {
    width : 75%;
    max-width: 80%;
    min-width: 70%;
    align-items: center;
    max-height: 60vh;
    min-height: 40vh;   
}

.SubmenuCardDescriptionSection {
    width : 100%;
}