/*카카오 큰 글씨*/
@font-face {
    font-family: 'KakaoBigSans-ExtraBold';
    font-weight: 800;
    src : url("../fonts/KakaoBigSans-ExtraBold.ttf") format("trutype");
}

.Main {
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    height: auto;
}


.Heading {
    margin-top : 10%;
    width : auto;
    height : auto;
    font-family: "KakaoBigSans-ExtraBold";
    font-weight: 600;
    font-size: 2rem;
    white-space: pre-wrap;
}

.HighlightText {
    color : #2F9FFC;
    background-color: #d1faff;
}

.ClassHelperText {
    font-weight: 800;
    font-family: inherit;
    font-size: 3.2rem;
}