[data-scope="tooltip"][data-part="content"] {
    color: white;
    background-color: black;
    padding : 4px;
    border-radius: 4px;
    white-space: nowrap;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}