[data-scope="tooltip"][data-part="content"] {
    padding : 4px;
    border-radius: 4px;
    white-space: nowrap;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

@media (prefer-color-scheme : dark) {
    [data-scope="tooltip"][data-part="content"] {
        background-color: white;
        color : black;
    }    
}

@media (prefer-color-scheme : light) {
    [data-scope="tooltip"][data-part="content"] {
        background-color: black;
        color : white;
    }    
}

