.App {
  width : 100vw;
  height: calc(var(--vh, 1vh) * 100);
  margin:0;
  min-height: 100%;
  overflow-y: auto;
}

.HomeWrapper {
  display : block;
  width : 12%;
  height : auto;
  white-space: pre-line;
}




