/*조선가는고딕*/
@font-face {
  font-family: "Chosun Sg";
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/ChosunSg/ChosunSg.otf") format("opentype");
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Chosun Sg";
  overflow-y: scroll;
}

code {
  font-family: "Chosun Sg"
}

#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding:0;
  margin:0;
  overflow-y: auto;
}

.swal2-container-custom {
  padding-right: 0 !important; /* 패딩으로 인한 레이아웃 시프트 방지 */
}

body.swal2-shown {
  padding-right: 0 !important; /* 패딩으로 인한 레이아웃 시프트 방지 */
  overflow-y: auto !important; /* 스크롤바 유지 */
}