/*카카오 큰 글씨*/
@font-face {
  font-family: 'KakaoBigSans-ExtraBold';
  font-weight: 800;
  src : url("../fonts/KakaoBigSans-ExtraBold.ttf") format("trutype");
}

.Navigation {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 30vh;
  max-height: 32vh;
  min-height: 28vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5%;
  color: #A0AFFF;
  box-shadow: 0 10px 10px -5px #b0d8ee;
  padding-top: 2%;
  font-family: "KakaoBigSans-ExtraBold";
}

.Home {
  font-size : 2.0rem;
  font-family: inherit;
  color : black;
}

.MainMenu {
  color : black;
  display : flex;
  flex-direction: column;
  max-height: 95%;
  align-items: center;
  justify-content: center;
  font-family: inherit;
}