/*카카오 큰 글씨*/
@font-face {
  font-family: 'KakaoBigSans-ExtraBold';
  font-weight: 800;
  src : url("../fonts/KakaoBigSans-ExtraBold.ttf") format("trutype");
}

.Navigation {
  width: 100%;
  max-width: 100%;
  min-width: 98%;
  height : auto;
  max-height: 16vh;
  min-height: 10vh;
  margin-bottom: 5%;
  padding-left : 2%;
  padding-right : 2%;
  color: black;
  font-family: "KakaoBigSans-ExtraBold";
  font-weight: 800;
  background-color: #ebf7ff;
  z-index: 0;
}

#MenuText {
  z-index: 0;
}

.TooltipText {
  font-family: 'KakaoBigSans-ExtraBold';
  font-weight: 800;
  font-size: 1.2rem;
  display : flex;
  flex-direction: row;
  white-space: nowrap;
}

.MenuBtn {
  display : flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width : 4vh;
  max-width : 4vh;
  min-width: 2vh;
  height : 4vh;
  max-height: 4vh;
  min-height : 2vh;
  cursor: pointer;
  border : 1px solid black;
  border-radius: 20%;
  margin-right : 10%;
  z-index: 0;
}

.MenuIcon {
  height : 75%;
  min-height: 75%;
  max-height: 75%;
  object-fit: contain;
} 

.Sidebar {
  z-index: 1;
  justify-content: space-around;
  font-family: "KakaoBigSans-ExtraBold";
  font-size: 1.5rem;
  font-weight: 500;
}

.SidebarLogoWrapper {
  display : block;
  height : 7vh;
  max-height: 7vh;
  min-height : 5vh;
  margin-right : auto;
}

.SidebarLogo {
height : 75%;
min-height: 75%;
max-height: 75%;
object-fit: contain;
}

.SidebarMenuWrapper {
  height : 16vh;
  width : 99%;
  max-width: 99%;
  min-width: 99%;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.SidebarMenuIcon {
  object-fit: contain;
  height : 70%;
  margin-right : 10%;
}

.LogoWrapper {
  display : block;
  height : 7vh;
  max-height: 7vh;
  min-height : 5vh;
  cursor: pointer;
  align-items: center;
  font-size : 1.3rem;
  font-family: inherit;
  font-weight: inherit;
  margin-left : 10%;
}

.Logo {
  height : 75%;
  min-height: 75%;
  max-height: 75%;
  object-fit: contain;
}

.QuestionIconWrapper {
  display : block;
  height : 5vh;
  max-height: 5vh;
  min-height : 4vh;
  margin-right: 1%;
  cursor: pointer;
  margin-left : auto;
}

.QuestionIcon {
  height : 100%;
  max-height : 100%;
  object-fit: contain;
}

.MenuWrapper {
  font-family: inherit;
  font-weight: inherit;
  height : auto;
  margin-left : 1%;
  margin-right : 1%;
  cursor: pointer;
}

.MenuText {
  font-family: inherit;
  font-weight: inherit;
  font-size: 1.3rem;
  height : auto;
  white-space: nowrap;
}