/*카카오 큰 글씨*/
@font-face {
  font-family: 'KakaoBigSans-ExtraBold';
  font-weight: 800;
  src : url("../fonts/KakaoBigSans-ExtraBold.ttf") format("trutype");
}

.Navigation {
  width: 100%;
  max-width: 100%;
  min-width: 98%;
  height : auto;
  max-height: 16vh;
  min-height: 10vh;
  margin-bottom: 5%;
  padding-left : 2%;
  padding-right : 2%;
  padding-top : 1%;
  color: black;
  font-family: "KakaoBigSans-ExtraBold";
  font-weight: 800;
}

.LogoWrapper {
  height : 12vh;
  max-height: 12vh;
  min-height : 10vh;
  cursor: pointer;
}

.Logo {
  height : 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: contain;
}

.QuestionIconWrapper {
  height : 24%;
  max-height: 26%;
  min-height : 22%;
  margin-left : auto;
  cursor: pointer;
}

.QuestionIcon {
  height : 100%;
  max-height : 100%;
  object-fit: contain;
}

.LoginWrapper {
  font-family: inherit;
  font-weight: inherit;
  height : auto;
  margin-left : 3%;
  margin-right : 2%;
  cursor: pointer;
}

.LoginText {
  font-family: inherit;
  font-weight: inherit;
  font-size: 1.3rem;
  height : auto;
}